
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Editar</title>
</head>
<body>
    <div>
        <form action="/ContasRecebidas/update">
            <label for="campo-nome">Nome</label>
            <input type="text" name="nome" id="campo-nome" />

            <label for="campo-valor">Valor</label>
            <input type="number" name="valor" id="campo-valor" />

            <label for="campo-tipo">Tipo</label>
            <select>
            <option value="Crediario">Crediario</option>
            <option value="Bancario">Bancario</option>
            </select>

            <label for="campo-descricao">Descrição</label>
            <input type="text" name="descricao" id="campo-descricao" />

            <label for="campo-status">status</label>
            <select>
            <option value="Pendente">Pendente</option>
            <option value="Recebido">Recebido</option>
            </select>
            <button type="submit">Salvar</button>

        </form>
    </div>
</body>
</html>
